.App {
  text-align: left;
}

.App-info {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1000;
  color:#330051;
  font-size: 14px;
}

.App-info a{
  color:#330050;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background:  #eeeeee;
}

svg {
  stroke: #33003D;
  fill: transparent;
  stroke-width: 8px;
}
.grey {
  stroke: #333300;
  fill: transparent;
  stroke-width: 3px;
}
text {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 20px;
  fill: #330050;
  stroke: #330050;
  stroke-width: 1px;
}